:root {
  --main-blue: #577D86;
  --main-tea: #87CBB9;
  --soft-blue: #569DAA;
  --soft-tea: #B9EDDD;
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--main-tea);
}
input[type="text"] {
  font-size: 1.8rem;
  color: var(--main-blue);
  border: 0.1rem solid var(--main-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
input[type="text"]:focus {
  outline: none;
  border: 0.1rem solid var(--main-tea);
  color: var(--soft-blue);
}
.todo-counter {
  text-align: center;
  font-size: 2.2rem;
  color: var(--main-blue);
}
.todo-search {
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position: right 1rem top 0.6rem;
  background-size: 1.8rem;
  width: 80%;
}
.todo-search__icon {
  position: absolute;
  right: calc(11% + 0.5rem);
  top: 6.2rem;
  height: 1.8rem;
  width: 1.8rem;
}
.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  overflow: auto;
  max-height: 38rem;
  padding: 0;
}
.todo-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 5px;
  list-style: none;
  font-size: 1.8rem;
}

.todo-item__icon {
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;
}

.todo-item__text {
  flex-grow: 1;
  text-align: left;
  color: var(--main-blue);
}
.todo-item__text--completed {
  color: var(--main-tea);
  text-decoration: line-through;
}
.todo-item__close {
  width: 1.2em;
  height: 1.2em;
  border: none;
  cursor: pointer;
}
.todo-item__close svg {
  fill: #808080;
}
.todo-item__close:hover svg {
  fill: #f00;
}
.create-todo-button {
  background-color: var(--soft-tea);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  height: 6rem;
  width: 6rem;
  padding: 0;

  transform: rotate(0);
  transition: .3s ease;
}
.create-todo-button:hover {
  transform: rotate(180deg);
}

.modal-background {
  background-color: rgba(32, 35, 41, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

form {
  width: 90%;
  max-width: 30rem;
  background-color: #fff;
  padding: 3.3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}
.todo-form__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--main-blue);
  margin-bottom: 2.6rem;
}

.todo-form__input {
  width: 90%;
}

.todo-form__button-container {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-form__button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  width: 12rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  border: none;
  color: var(--main-blue);
}

.todo-form__button--add {
  background: var(--soft-tea);
}

.todo-form__button--cancel {
  background: transparent;
}

.modal__close-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}
